<html>
<head>
	
</head>

<body>
	<h2>Записаться</h2>
	<p>На этой странице Вы можете записаться в Barber Shop</p>

	<script type="text/javascript">

		$(function() {
			$('#color').simplecolorpicker();
		    // Тут я могу написать любой javascript код, который исполнится
		    // после загрузки всей страницы.
		})

	</script>

	<form role="form" method="POST">

	  <div class="form-group">
	    <label>Введите Ваше имя</label>
	    <input name="user_name" type="text" class="form-control" placeholder="Ваше имя">
	  </div>

	  <div class="form-group">
	    <label>Введите Ваш телефон</label>
	    <input name="phone" type="text" class="form-control" placeholder="987-654-32-10">
	  </div>

	  <div class="form-group">
	    <label>Введите дату и время визита</label>
	    <input name= "date_time" type="text" class="form-control" placeholder="12.03.2020 - 10:00">
	  </div>
      
	  <div class="form-group">
	    <label>Ваш парикмахер</label>
	    <select name="barber" class="form-control">
	      	<option>1. Jessie Pinkman</option>
	  		<option>2. Wolter White</option>
	  		<option>3. Gas Fring</option>
	  		<option>4.  - vacancy -</option>
	  		<option>5.  - vacancy -</option>
	  	</select>
	  </div>

	  <button type="submit" class="btn btn-primary"> Записаться </button>

	</form>

</body>
</html>